<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC.TaskManager</title>

    <link href="~/css/tabler.css" rel="stylesheet" />
    <link href="~/css/tabler-flags.css" rel="stylesheet" />
    <link href="~/css/tabler-payments.css" rel="stylesheet" />
    <link href="~/css/tabler-vendors.css" rel="stylesheet" />
    <link href="~/css/demo.css" rel="stylesheet" />
    <link href="~/css/datatables.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>

    <style>
        :root {
            --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        }

        body {
            font-feature-settings: "cv03", "cv04", "cv11";
        }

    </style>
</head>
<body>
    <div class="page">
        <!-- Sidebar -->
        @{
            await Html.RenderPartialAsync("_Sidebar");
        }
        <!-- Navbar -->
        @{
            await Html.RenderPartialAsync("_Navbar");
        }
        <div class="page-wrapper">
            <!-- Page header -->
            <!-- Page body -->
            <div class="page-body">
                @RenderBody()
            </div>
            @{
                await Html.RenderPartialAsync("_Footer");
            }
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/tabler.js"></script>
    <script src="~/js/demo.js"></script>
    <script src="~/js/datatables.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
