@model TaskItemViewModel

@{
    ViewBag.Title = "Create";
}

<div class="container-xl">
    <div class="row row-cards">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Create task</h4>
                </div>
                <form asp-action="Create" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="row g-5">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-4 mb-3">
                                <label asp-for="Name" class="form-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-4 mb-3">
                                <label asp-for="Status" class="form-label"></label>
                                <select asp-for="Status" class="form-select" asp-items="ViewBag.Status">
                                </select>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                            <div class="col-4 mb-3">
                                <label asp-for="UserId" class="form-label"></label>
                                <select asp-for="UserId" class="form-select" asp-items="ViewBag.UserId">
                                    <option selected value="">Select user</option>
                                </select>
                            </div>
                            <div class="col-6 mb-3">
                                <label asp-for="Description" class="form-label"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="col-6 mb-3">
                                <label asp-for="DueDate" class="form-label"></label>
                                <input asp-for="DueDate" class="form-control" />
                                <span asp-validation-for="DueDate" class="text-danger"></span>
                            </div>
                            

                            <fieldset>
                                <legend>SubTasks:</legend>
                                <span asp-validation-for="SubTasks" class="text-danger"></span>
                                <div class="form-group">
                                    <input type="hidden" value="0" id="qtdDiv" name="qtdDiv" />
                                    <div id="collectionItems">

                                        @await Html.PartialAsync("_CreateOrEditSubTasks", (Model != null && Model.SubTasks != null ? Model.SubTasks : new List<SubTask>()))

                                    </div>
                                    <button type="button" id="btnAddMore" class="btn btn-primary">Add subtask</button>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <div class="d-flex">
                            <a asp-action="Index" class="btn btn-link">Back to List</a>
                            <button type="submit" class="btn btn-primary ms-auto">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#btnAddMore').click(function () {
            var currentNum = parseFloat($("#qtdDiv").val());
            var numDiv = (currentNum + 1);
            $("#qtdDiv").val(numDiv);
            var divIdName = 'div_' + numDiv + 'SubTask';
            var htmlbtn = '<button type="button" onclick="removeSubTask(\'' + divIdName + '\')"  class="btn-close" aria-label="Close"></button>';

            $.ajax({
                url: '/TaskItem/NewSubTask',
                contentType: 'application/html',
                success: function (html) {
                    var newDiv = document.createElement('div');
                    newDiv.setAttribute('id', divIdName);
                    newDiv.innerHTML = htmlbtn + html;
                    $('#collectionItems').append(newDiv);


                }
            });
        });

        function removeSubTask(divNum) {
            var currentNum = parseFloat($("#qtdDiv").val());
            var numDiv = (currentNum - 1);
            $("#qtdDiv").val(numDiv);

            var oldDiv = document.getElementById(divNum);
            oldDiv.remove();
        }
    </script>
}





