@using HtmlHelpers.BeginCollectionItemCore;
@model SubTask
@{
    Guid GuidZero = Guid.Parse("00000000-0000-0000-0000-000000000000");
}

@using (Html.BeginCollectionItem("SubTasks"))
{

    <div class="container bg-primary text-white p-3 mb-3 rounded">
        <div class="row">
            <div class="mb-3 col-4">
                <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            <div class="mb-3 col-4">
                <label asp-for="Status" class="form-label"></label>
                    <select asp-for="Status" class="form-select" asp-items="ViewBag.Status">
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            <div class="mb-3 col-4">
                <label asp-for="UserId" class="form-label"></label>
                    <select asp-for="UserId" class="form-select" asp-items="ViewBag.UserId">
                        <option selected value="">Select user</option>
                    </select>
                </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>    
        </div>
    </div>

}


